.mainSystem {
  width: 100%;
  height: 100vh;
  padding: 0 0.5rem;
  text-align: justify;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--cmd-font);
}

.pSystem{
  margin-top: 5rem;
  text-align: right;
}